/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}


body {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;
}

/* Vars */

:root {
    --White: #ffff;
    --Black: #000000;

    --sm: 100;
    --md: 300;
    --lg: 400;
}

/* Header */

.header {
    width: 100vw;
    height: 12vh;
    background-color: var(--White);
}

.header__nav {
    width: inherit;
    height: inherit;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav__ul--header {}

.nav__ul--header--options {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ul__li--header {
    list-style: none;
    display: flex;
    flex-direction: row;

    font-weight: var(--lg);
    font-size: 1.3rem;

    margin-left: 3rem;
}

.li__a--header {
    text-decoration: none;
    color: var(--Black);
}

.a__img--header {
    width: 4rem;
}

.li__span--header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.span__a--header {
    text-decoration: none;
    color: var(--Black);
}

.span__img--header {
    width: 2rem;
}

.a__img--header--shop {
    width: 2rem;
    margin-right: 4rem;
}

/* Main */

.main {
    width: 100vw;
    height: 88vh;

    background-color: var(--White);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main__section--main {
    display: flex;
    flex-direction: column;
    
    margin-left: 7rem;
}
.section__div--main {
    display: flex;
    flex-direction: row;
}
.div__li--main {
    list-style: none;
}

.li__a--main {
    text-decoration: none;
    color: var(--Black);
}

.section__h1--main {
    font-weight: bold;
    font-size: 7rem;
}

.section__div--main--text {
    width: 21rem;
    height: 11rem;
    background-color: var(--White);

    margin-left: 6rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.div__p--main {
    font-size: 1.5rem;
    font-weight: var(--md);
}

.section__div--main--boxes {
    display: flex;
    flex-direction: column;
}

.div__button--main--1 {
    width: 21rem;
    height: 4rem;

    border: 0.1rem solid var(--Black);
    background-color: var(--White);
    margin-bottom: 2rem;
}

.div__button--main--2 {
    width: 30rem;
    height: 5rem;

    border: 0.1rem solid var(--Black);
    background-color: var(--White);
}

.section__img--main--bike {
    width: 55rem;
    margin-right: 2rem;
}

.header__img--mobile {
    display: none;
}

/* @media breakpoints */

@media screen and (min-width: 481px) and (max-width: 768px) {
    .header {
        height: 10rem;
        width: 100vw;
        background-color: aqua;
    }

    .header__nav {}

    .nav__ul--header--options {
        display: none;
    }

    .header__img--mobile {
        display: block;
        width: 10rem;
    }


}