/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}


body {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;
}

/* Vars */

:root {
    --White: #ffff;
    --Black: #000000;

    --sm: 100;
    --md: 300;
    --lg: 400;
}

/* Header */

.header {
    width: 100vw;
    height: 6.4rem;
    background-color: var(--White);
}

.header__nav {
    width: inherit;
    height: inherit;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav__ul--header {

}

.nav__ul--header--options {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ul__li--header {
    list-style: none;
    display: flex;
    flex-direction: row;

    font-weight: var(--lg);
    font-size: 1.3rem;

    margin-left: 3rem;
}

.li__a--header {
    text-decoration: none;
    color: var(--Black);
}

.a__img--header {
    width: 4rem;
}

.li__span--header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.span__a--header {
    text-decoration: none;
    color: var(--Black);
}

.span__img--header {
    width: 2rem;
}

.a__img--header--shop {
    width: 2rem;
    margin-right: 4rem;
}

/* Main */



.section__img--main--bike {
    width: 5rem;
}